<div class="container">
<div class="row">
    <div class="col-md-12">
      <p class="bg-info text-center center-block h1"  id="describe">
        <%= @article.title %></p>
      <p class="bg-info text-center center-block h4">By <%= @author.first_name %> <%= @author.last_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="bg-info text-center center-block h4" id ="describe"><%= @article.content %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p id="likes"><%= link_to("Like this!", article_likes_path(@article.id), method: :post)%>
      </p>
    </div>
  </div>
</div>

