<!DOCTYPE html>
<html>
  <head>
    <title>Teamwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <header class="page-header" id="top-bar">
    <nav class="navbar navbar-default">
        <%= link_to raw("TeamWork HQ <i class='icon-coffee'></i>"), {controller: "users", action: "index"}, class: "navbar-brand", id: "header-font" %>
        <ul class="nav navbar-nav">
          <% if logged_in? %>
            <li><a>Welcome, <i class='icon-user'></i> <%= current_user.name %></a></li>
            <li><%= link_to("Logout", logout_path) %></li>
          <% else %>
            <li><%= link_to("Register", register_path)%></li>
            <li><%= link_to("Login", login_path)%></li>
          <% end %>
            <li><%= form_tag("/search", {method: "get", class: "navbar-form navbar-left"}) do %>
              <%= text_field_tag(:q) %>
              <i class='icon-search'></i>
              <% end %></li>
        </ul>
      </nav>

    </header>

  <body>
    <%= yield %>
  </body>
</html>
